@import "../Test/main.module.scss";

.container {
    display: flex;
    flex-direction: column;
    padding: 30px;
}

.textbox {
    text-align: left;
}

.namebox {
    text-align: left;
    div {
        font-weight: 600;
        padding: 5px;
    }
}

.typebox {
    margin-top: 15px;
    margin-bottom: 15px;
    text-align: left;
    div {
        font-weight: 600;
        padding: 5px;
    }
}