canvas{
	width: 100%;
	height: auto;
	position: static;
	z-index: 1;

}
.btn {
	background-color: #4C4499;
	border-radius: 50%;
	border: 5%'px' solid white; /* 흰색 테두리 추가 */
	width: 20%;
	position: absolute;
	aspect-ratio: 1;
	top: 40%;
	left: 40%;
	color: white; /* 버튼 글자색 */
	font-size: 3vw; /* 가로 비율에 따라 글자 크기 조절 */
	cursor: pointer;
	z-index: 2; /* 버튼을 화면 위로 올림 */
  }
  
#score {
	position: sticky;
  }
#GameModal{
	width: 60%;
	height: 60%;
}