.button {
  background-color: #3c78ff;
  color: white;
}

.subbutton {
  background-color: #6d8bce;
  color: white;
}

.container {
  padding: 30px;
  display: flex;
  flex-direction: column;
  text-align: left;
}

.checkbox {
  margin-left: 10px;
}