.button {
  background-color: #3c78ff;
  color: white;
}

.subbutton {
  background-color: #6d8bce;
  color: white;
}

.container {
  overflow: auto;
  white-space: nowrap;
  display: flex;
  justify-content: center;
}

.container::-webkit-scrollbar {
  display: none;
}

.rotatedImage {
  width: 150px;
  transform: rotate(90deg) scale(0.5);
}

.cardBox {
  margin-right: -20px;
  margin-left: -20px;
}

.text {
  margin-top: 0px;
  margin-bottom: 0px;
  font-weight: bold;
  font-size: 12px;
}

.noncontainer {
  width: 100%;
  flex-direction: column;
  overflow: visible !important;
  white-space: normal !important;
  display: block !important;
}

.noncontainer button {
  width: 100%;
  background-color: #3c78ff;
  color: aliceblue;
}

.noncontainer p {
  color: #ababab;
}