.button {
  background-color: #3c78ff;
  color: white;
}

.subbutton {
  background-color: #305dc5;
  color: white;
}

.bluebutton {
  background-color: rgb(230, 235, 255);
  color: #3c78ff;
}

.graybutton {
  background-color: rgb(238, 242, 249);
}

.container {
  padding: 0 30px 30px 30px;
  height: 490px;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
}

.pointbox {
  width: 100%;
  display: flex;
  justify-content: end;
  align-items: center;
}
.pointbox img {
  width: 30px;
  height: 30px;
  margin-right: 10px;
}

.textbox {
  width: 100%;
  display: flex;
  justify-content: start;
  margin-bottom: 15px;
}

.middleContainer {
  display: flex;
}

.stepperbox {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.smallskinName {
  margin-top: 15px;
  margin-bottom: 15px;
  font-weight: bold;
  font-size: 18px;
}

.skinName {
  margin-top: 15px;
  margin-bottom: 15px;
  font-weight: bold;
  font-size: 30px;
}

.skinPoint {
  margin-top: 0px;
  margin-bottom: 0px;
  font-size: 12px;
  color: rgb(129, 127, 127);
}

.selectedButton {
  width: 100px;
  border-radius: 20px;
}

.unSelectedButton {
  width: 100px;
  border-radius: 20px;
}

.smallskinImg {
  width: 70px;
}

.skinImg {
  width: 100px;
}

.preview {
  background-color: #cdcdcd;
  color: aliceblue;
  border-radius: 70px;
  font-size: 14px;
  margin-bottom: 15px;
}

.inventoryList {
  display: flex;
  width: 300px;
  overflow-x: auto;
  white-space: nowrap;
}

.inventoryList::-webkit-scrollbar {
  display: none;
}

.skinItem {
  margin-right: 20px;
}

.floatbutton {
  display: flex;
  align-items: center;
  margin-top: 30px;
  bottom: 150px;
  border-radius: 25px;
}
.floatbutton span {
  margin-left: 5px;
}