.button {
  background-color: #3c78ff;
  color: white;
}

.subbutton {
  background-color: #305dc5;
  color: white;
}

.sublightbutton {
  background-color: #305dc5;
  color: white;
  box-shadow: 0px 2px 20px rgba(128, 116, 255, 0.73);
}

.bluebutton {
  background-color: rgb(230, 235, 255);
  color: #3c78ff;
}

.graybutton {
  background-color: rgb(238, 242, 249);
}

.purplebutton {
  background-color: rgb(170, 143, 195);
  color: white;
}

.container {
  display: flex;
  flex-direction: column;
  padding: 30px;
}

.textbox {
  text-align: left;
}

.invitebox {
  display: flex;
}
.invitebox button {
  width: 30%;
  margin-bottom: 15px;
}

.backbutton {
  margin-top: 15px;
}