.button {
  background-color: #3c78ff;
  color: white;
}

.subbutton {
  background-color: #6d8bce;
  color: white;
}

.container {
  padding: 0px 45px;
}

.smallbox {
  margin-bottom: 20px;
  text-align: left;
}
.smallbox .label {
  margin-bottom: 5px;
}

.input {
  width: 250px;
  height: 40px;
  border-radius: 10px;
  padding: 0px 10px;
}

.signupbox {
  margin-top: 40px;
}
.signupbox p {
  font-weight: bold;
  text-decoration: underline;
}

::-moz-placeholder {
  color: rgb(220, 220, 220);
}

::placeholder {
  color: rgb(220, 220, 220);
}