.button {
  background-color: #3c78ff;
  color: white;
}

.subbutton {
  background-color: #305dc5;
  color: white;
}

.bluebutton {
  background-color: rgb(230, 235, 255);
  color: #3c78ff;
}

.graybutton {
  background-color: rgb(238, 242, 249);
}

.container {
  font-weight: normal;
}
.container div :hover {
  background-color: rgb(240, 240, 240);
}