.button {
  background-color: #3c78ff;
  color: white;
}

.subbutton {
  background-color: #305dc5;
  color: white;
}

.container {
  font-weight: normal;
}
.container div :hover {
  background-color: rgb(240, 240, 240);
}