.button {
  background-color: #3c78ff;
  color: white;
}

.subbutton {
  background-color: #305dc5;
  color: white;
}

.container {
  display: flex;
  flex-direction: column;
  padding: 30px;
}

.minicontainer {
  text-align: left;
}