canvas{
	width: 100%;
	height: auto;

}
.btn {
	background-color: #4C4499;
	border-radius: 50%;
	border: 2px solid white;
	aspect-ratio: 1;
	position: absolute;
	top: 180px;
	color: white;
	font-size: 30px;
	cursor: pointer;
  }
  
  /* 화면 폭이 768px 이하일 때 스타일 적용 */
  @media screen and (max-width: 768px) {
	.btn {
	  width:160px;
	  font-size: 30px;
	}
  }
  
  /* 화면 폭이 768px 초과이고 1024px 이하일 때 스타일 적용 */
  @media screen and (min-width: 769px) and (max-width: 1024px) {
	.btn {
	  width:160px;
	  font-size: 30px;
	}
  }
  
  /* 화면 폭이 1024px 초과일 때 스타일 적용 */
  @media screen and (min-width: 1025px) {
	.btn {
	  width: 160px;
	  font-size: 30px;
	}
  }
  
  
#score {
	position: sticky;
  }
#GameModal{
	width: 60%;
	height: 60%;
}