.container {
    display: flex;
    flex-direction: column;
    padding: 30px;
    text-align: left;
}

.inputContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.inputbox{
    width: 300px;
}