@import "../Test/main.module.scss";

.container {
  // font-size: large;
  font-weight: normal;

  div {
    :hover {
      background-color: rgb(240, 240, 240);
    }
  }
}

.navbox{
  display: flex;
  flex-direction: column;
}

.box{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}