.container {
  width: 100%;
  margin-bottom: 10px;
}

.답변 {
  width: 70%;
  margin-left: auto;
  text-align: left;
  color: beige;
  background-color: #7165e3;
  border-radius: 10px;
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  font-weight: bold;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); /* 그림자 효과 설정 */
}

.질문 {
  width: 70%;
  margin-right: auto;
  text-align: left;
  color: #6f6f6f;
  background-color: #f8f8f8;
  border-radius: 10px;
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  font-weight: bold;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); /* 그림자 효과 설정 */
}

.loadingMessage {
  width: 70%;
  margin-left: auto;
  text-align: left;
  color: beige;
  background-color: #7165e3;
  border-radius: 10px;
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  font-weight: bold;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); /* 그림자 효과 설정 */
  display: flex;
  justify-content: center;
  align-items: center;
}
