.container {
  text-align: left;
  margin-left: 5%;
  margin-right: 5%;
}

.buttonBox button {
  width: 45%;
}

.bankAccount {
  margin-top: 0px;
  margin-bottom: 0px;
  font-weight: bold;
  font-size: 14px;
  color: rgb(129, 127, 127);
}

.balance {
  margin-top: 0px;
  margin-bottom: 20px;
  font-weight: bold;
  font-size: 24px;
}

.buttonBox {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.fill {
  background-color: rgb(21, 122, 255);
  color: beige;
  padding-top: 5px;
  padding-bottom: 5px;
}

.send {
  background-color: rgb(170, 143, 195);
  color: beige;
  margin-left: auto;
  padding-top: 5px;
  padding-bottom: 5px;
}

.date {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.part {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}

.time {
  margin-top: 0px;
  margin-bottom: 0px;
  font-size: 12px;
  color: rgb(129, 127, 127);
}

.remain {
  margin-top: 0px;
  margin-bottom: 0px;
  font-size: 12px;
  color: rgb(129, 127, 127);
}

.name {
  margin-top: 0px;
  margin-bottom: 0px;
  font-size: 16px;
}

.value {
  margin-top: 0px;
  margin-bottom: 0px;
  font-size: 16px;
  color: rgb(170, 143, 195);
}

.money {
  text-align: right;
}

.total {
  margin-top: 0px;
  margin-bottom: 0px;
  font-weight: bold;
  font-size: 18px;
  color: rgb(129, 127, 127);
}
