body { margin: 0; overflow: hidden; }
canvas {
	display: block;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 1;
}
button {
	background-color: #0077FF; /* 버튼 배경색 */
	color: black; /* 버튼 글자색 */
	border: none;
	padding: 10px 20px;
	font-size: 16px;
	cursor: pointer;
	z-index: 2; /* 버튼을 화면 위로 올림 */
  }