$maincolor: rgb(89, 47, 255);

.header {
  display: flex;
  // justify-content: center;
  align-items: center;
  height: 60px;
  background-color: rgb(255, 255, 255);
  width: 360px;
  border-bottom: 1px solid rgb(235, 235, 235);
  position: fixed;
  top: 0;
  z-index: 10;

  justify-content: space-between;

  h1,
  p {
    margin: 0;
  }

  img {
    width: 100px;
    margin: 0px 15px;
  }

  button {
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 0px 12px;
    background-color: $maincolor;
    color: white;
    width: 80px;
    font-size: 14px;
    font-weight: normal;
  }
}
