.container {
  overflow: auto;
  white-space: nowrap;
  display: flex;
}

.container::-webkit-scrollbar {
  display: none;
}

.rotatedImage {
  width: 200px;
  transform: rotate(90deg) scale(0.5);
}

.cardBox {
  margin-right: -25px;
  margin-left: -25px;
}

.text {
  margin-top: 0px;
  margin-bottom: 0px;
}
