@import "../Test/main.module.scss";

.container {
    display: flex;
    flex-direction: column;
    padding: 30px;
    text-align: left;

    h2 {
        margin: 0;
    }
}

.minicontainer {
    display: flex;
    flex-direction: column;
}

.cardcontainer {
    display: flex;
    flex-direction: row;
    margin-bottom: 15px;


    .text {
        width: 160px;
        // padding-left: 10px;
        display: flex;
        flex-direction: column;

        p {
            font-size: 18px;
            padding-left: 10px;
            font-weight: bold;
            margin: 0;
        }

        span {
            padding-left: 10px;
            font-size: 12px;
        }
    }

    .left {
        display: flex;
        flex-direction: row;
        margin-right: 30px;
    }

    .right {
        // background-color: aqua;
        display: flex;
        justify-content: center;
        align-items: center;
        // float: right;
    }

    .img {
        display: flex;
        align-items: center;
    }
}

.float {
    // display: flex;
    position: sticky;
    bottom: 70px;
}

.bottommargin {
    margin-bottom: 15px;
}