@import "../Test/main.module.scss";

.container {
  display: flex;
  flex-direction: column;
  padding: 30px;
  text-align: left;

  h2 {
    margin: 0;
  }
}

.minicontainer {
  display: flex;
  flex-direction: column;
}

.cardcontainer {
  display: flex;
  flex-direction: row;

  // margin-top: 20px;

  .text {
    width: 150px;

    p {
      font-size: 16px;
      font-weight: 600;
    }
  }

  .left {
    display: flex;
    flex-direction: row;
    margin-right: 30px;
  }

  .right {
    // background-color: aqua;
    display: flex;
    justify-content: center;
    align-items: center;
    // float: right;
  }

  .img {
    display: flex;
    align-items: center;
  }
}

.float {
  // display: flex;
  position: sticky;
  bottom: 70px;
}
