.skinName {
  margin-top: 0px;
  margin-bottom: 0px;
  font-weight: bold;
  font-size: 20px;
}

.skinPoint {
  margin-top: 0px;
  margin-bottom: 0px;
  font-size: 12px;
  color: rgb(129, 127, 127);
}

.selectedButton {
  background-color: #cdcdcd;
  color: aliceblue;
  border-radius: 70px;
  font-size: 12px;
}

.unSelectedButton {
  background-color: #4c4499;
  color: aliceblue;
  border-radius: 70px;
  font-size: 12px;
}

.skinImg {
  width: 70px;
}

.preview {
  background-color: #cdcdcd;
  color: aliceblue;
  border-radius: 70px;
  font-size: 14px;
  margin-bottom: 15px;
}
