$maincolor: #3c78ff;
// $subcolor: desaturate($maincolor, 50%);
$subcolor: #305dc5;
$bordercolor: #a5c0ff;
$purplecolor: rgb(170, 143, 195);
$bluecolor: rgb(21, 122, 255);
// $maincolor: $bluecolor;
$greycolor: grayscale($maincolor);

.button {
  background-color: $maincolor;
  color: white;
}

.subbutton {
  background-color: $subcolor;
  color: white;
}

.sublightbutton {
  background-color: $subcolor;
  color: white;
  box-shadow: 0px 2px 20px rgba(128, 116, 255, 0.73);
}

.bluebutton {
  background-color: rgb(230, 235, 255);
  color: $maincolor;
}

.graybutton {
  background-color: rgb(238, 242, 249);
}

.purplebutton {
  background-color: $purplecolor;
  color: white;
}
